body{
    font-family: Verdana, Helvetica, Arial;
    text-align: center;
    font-size: 10pt;
    color: darkslategray;
}

.App-header{
    height: 90px;
    background: darkslategray;
    color: white;
    margin: auto;
}

.App-title{
    font-size: 16pt;
    text-align: center;
    vertical-align: middle;
}

.user-list{
    margin: auto;
    min-width: 50%;
    max-width: 80%;
}

.user-table{
    width: 100%;
    border: none;
    box-shadow: none;
    overflow: visible;
}

.cellHeader{
    background: darkslategray;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 7px 10px 7px;
}

.cell-data{
    color: darkslategray;
    padding: 0px;
}

.cell{
    padding: 10px 7px 10px 7px;
}

.large-cell{
    width: 46%;
}

.medium-cell{
    width: 20%;
}

.small-cell {
    width: 10%;
    text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2;}

.btn{
    padding: 7px 10px 7px 10px;
    margin: 10px 0px 10px 0px;
    background: none;
    border: none;
}

.btn-left{
    color: darkslategray;
    text-align: left;
}

.new-user{
    text-align: left;
    vertical-align: middle;
}

.new-user-btn{
    font-size: 2em;
    padding-bottom: 5px;
}

.new-user-label{
    margin-left: 7px;
}

.del-btn{
    font-size: 18px;
    color: darkred;
}

.form-label{
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.form-input-box{
    margin-left: 5px;
    margin-right: 5px;
}

